In [13]:

import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, TensorDataset
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE
import kagglehub
# Preprocessing
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE

In [14]:

df = pd.read_csv("../dataset/dataset.csv")

In [3]:


# Display basic info and preview
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   type            int64
 2   amount          float64
 3   oldbalanceOrg   float64
 4   newbalanceOrig  float64
 5   oldbalanceDest  float64
 6   newbalanceDest  float64
 7   isFraud         int64
 8   isFlaggedFraud  int64
dtypes: float64(5), int64(4)
memory usage: 436.9 MB

,Unnamed: 0,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,0,3,9839.64,170136.0,160296.36,0.0,0.0,0,0
1,1,3,1864.28,21249.0,19384.72,0.0,0.0,0,0
2,2,4,181.00,181.0,0.00,0.0,0.0,1,0
3,3,1,181.00,181.0,0.00,21182.0,0.0,1,0
4,4,3,11668.14,41554.0,29885.86,0.0,0.0,0,0

In [16]:
df.isFraud.value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [4]:
df_temp = df

In [5]:
df = df_temp

In [6]:

# Check class distribution in the sample
df['isFraud'].value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
df['type'] = LabelEncoder().fit_transform(df['type'])

# Drop non-numeric ID columns
df = df.drop(['isFlaggedFraud','Unnamed: 0'], axis=1)

df_f = df[df['isFraud'] == 1]  # All rows where target == 1
df_nf = df[df['isFraud'] == 0]  # All rows where target == 0

In [8]:
df_f.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
2,4,181.0,181.0,0.0,0.0,0.0,1
3,1,181.0,181.0,0.0,21182.0,0.0,1
251,4,2806.0,2806.0,0.0,0.0,0.0,1
252,1,2806.0,2806.0,0.0,26202.0,0.0,1
680,4,20128.0,20128.0,0.0,0.0,0.0,1

In [9]:
df_nf["type"].value_counts()

type
1    2233384
3    2151495
0    1399284
4     528812
2      41432
Name: count, dtype: int64

In [10]:
df_nf.to_csv("../dataset/majority.csv")

In [11]:
df_f.to_csv("../dataset/minority.csv")

In [12]:
df_f.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
2,4,181.0,181.0,0.0,0.0,0.0,1
3,1,181.0,181.0,0.0,21182.0,0.0,1
251,4,2806.0,2806.0,0.0,0.0,0.0,1
252,1,2806.0,2806.0,0.0,26202.0,0.0,1
680,4,20128.0,20128.0,0.0,0.0,0.0,1

We have majority class should be under sampled, Unbalanced data
We will do it in another file DUAL_undersampling.ipynb