In [1]:
from ctgan import load_demo
from ctgan import CTGAN
import pandas as pd

from sklearn.preprocessing import StandardScaler

In [2]:
df_m_0 = "min_0"
df_m_1 = "min_1"
df_m_2 = 'min_2'
# df_m_3 = pd.read_csv('../dataset/min_3.csv')
df_0 = 'informative_cluster_0'
df_1 = 'informative_cluster_1'
df_merged = 'merged_shuffled'
# df_2 = pd.read_csv('../dataset/informative_cluster_2.csv')
selected_file = df_merged
df= pd.read_csv("../dataset/" + selected_file + ".csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16413 entries, 0 to 16412
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            16413 non-null  int64
 1   amount          16413 non-null  float64
 2   oldbalanceOrg   16413 non-null  float64
 3   newbalanceOrig  16413 non-null  float64
 4   oldbalanceDest  16413 non-null  float64
 5   newbalanceDest  16413 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 769.5 KB

In [5]:
if 'Unnamed: 0' in df.columns:
    df = df.drop(columns=['Unnamed: 0'])
df.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,205480.23,5949.01,0.0,1235745.12,1441225.36
1,1,167806.93,167806.93,0.0,0.00,167806.93
2,1,181330.91,37778.00,0.0,36793.35,218124.26
3,4,167907.12,167907.12,0.0,0.00,0.00
4,4,1434440.31,1434440.31,0.0,0.00,0.00

In [6]:
from sdv.cag import SingleTableProgrammableConstraint

class TransactionBalanceLogic(SingleTableProgrammableConstraint):
    def is_valid(self, row):
        print(row)
        amount = row['amount']
        obo = row['oldbalanceOrg']
        nbo = row['newbalanceOrig']
        obd = row['oldbalanceDest']
        nbd = row['oldbalanceDest']

        # if any(v is None for v in [t, obo, nbo, obd]):
        #     return True  # skip NaNs
        return (obd >= 0) & (obo >= 0) & (nbo >= 0) & (amount>0) & (nbd >= 0)

    def transform(self, table_data):
        return table_data  # no transformation needed

    def get_updated_metadata(self, metadata):
        new_metadata = metadata.copy()
        return new_metadata

    def reverse_transform(self, table_data):
        return table_data

In [7]:
from sdv.single_table import CTGANSynthesizer
from sdv.metadata import Metadata
metadata = Metadata.detect_from_dataframe(df)
synthesizer = CTGANSynthesizer(metadata)
synthesizer.add_constraints([TransactionBalanceLogic()])
synthesizer.fit(df)

I:\ETVOS\2nd semester\DS Lab 1\DSLAB-Project\venv1\Lib\site-packages\sdv\single_table\base.py:128: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

In [8]:
data = synthesizer.sample(df.shape[0],output_file_path="../dataset/fake_" + selected_file + ".csv")

       type     amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
0         1  249120.14     2377531.77          814.36        27632.75
1         1   14785.81       42063.94            0.00       176827.96
2         1       0.00           0.00         5009.06       331470.73
3         3    2086.72       59208.48         3865.90         2404.70
4         1       0.00      120641.34         9425.39      3402203.24
...     ...        ...            ...             ...             ...
16408     4   82951.18     1059501.43            0.00        20274.96
16409     4  492669.66      252210.51        13056.84        38779.47
16410     1  248086.73      222164.17          266.39       205416.25
16411     3       0.00           0.00        11757.52            0.00
16412     1  820169.91     1455161.11          717.63        24859.38

       newbalanceDest
0          4406226.70
1          1122000.98
2           352109.69
3            30228.16
4          1025391.42
...               ...
16408            0.00
16409       736266.53
16410       142606.20
16411            0.00
16412       218623.58

[16413 rows x 6 columns]
      type      amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
0        1   250329.60       82244.70         1372.39       654263.84
1        3    37256.61       23691.61         7481.04            0.00
2        0        0.00        5515.76         3408.98       221004.39
3        1  1829483.99     1487550.43        11341.88      1955616.26
4        1  1896098.71     1984761.74         4272.89      4621461.61
...    ...         ...            ...             ...             ...
2828     1    44750.61           0.00            0.00        36774.32
2829     1    48872.52       44371.88            0.00            0.00
2830     1   159147.57      114692.20         8725.44      2685684.29
2831     4   211639.32     1327754.11            0.00        47447.71
2832     1   277115.37       80316.78            0.00        22254.01

      newbalanceDest
0          979375.10
1           19248.26
2          232520.91
3         1262732.45
4         4871375.13
...              ...
2828        40753.28
2829       309415.52
2830      2281293.66
2831      1482112.51
2832       398175.15

[2833 rows x 6 columns]
   type     amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
0     1   29905.07        1543.89            0.00       140629.70
1     1  270225.17      406329.36       150180.82        26306.17
2     1  285916.36       42423.95            0.00        24541.21
3     1   82684.44       22621.35            0.00       450411.88
4     1  542039.41      948701.18         8554.52       939341.42
5     0       0.00        3914.57        11645.81         7231.33
6     1  297620.22       21346.82            0.00       892784.27
7     1   10715.06       20280.66            0.00       128856.64
8     4  249770.13       35751.28            0.00        39274.29
9     1   14737.09     4394808.00      2429269.48       267215.53

   newbalanceDest
0       273741.92
1       205962.45
2       337954.40
3       976451.82
4      1851172.65
5        34670.92
6       490837.69
7       268586.31
8       444407.97
9            0.00